.button {
    cursor: pointer;
}

.clear {
    padding: 0;
    border: none;
    outline: none;
}

.outlined {
    padding: 10px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.filled {
    padding: 10px;
    border: none;
    background-color: var(--inverted-bg-color);
    color: var(--primary-color);
}