.sidebar{
  min-height: calc(100vh - var(--nav-bar-height));  
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.3s;
}


.collapsed {
    width:  var(--sidebar-width-collapsed);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 20px 0px;

}

.contentClosed {
    visibility: hidden;
}
