.sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width ease-in-out 0.3s;
}

.collapsed {
    width: var(--sidebar-collapsed-width);
}


.switcher {
    position: absolute;
    bottom: 0;
    padding: 10px;
}