.pageError {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100vh;
    color: rgb(28, 4, 135);
    font-size: 24px;
    flex-direction: column;
    gap: 10px;

}