.wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input {
    flex-grow: 1;
}

.recommendations {
    flex-wrap: nowrap !important;
    overflow-y: hidden;
    overflow-x: auto;
}